{% extends 'base.html.twig' %}

{% block body %}
    <h1>Propietario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id&nbsp;&nbsp;&nbsp;</th>
                <th>Nombre&nbsp;&nbsp;&nbsp;</th>
                <th>Email&nbsp;&nbsp;&nbsp;</th>
                <th>Apellido&nbsp;&nbsp;&nbsp;</th>
                <th>Anuncio&nbsp;&nbsp;&nbsp;</th>
                <th>Telefono&nbsp;&nbsp;&nbsp;</th>
                <th>Direccion&nbsp;&nbsp;</th>
                <th>Cp&nbsp;&nbsp;&nbsp;</th>
                <th>Animal&nbsp;&nbsp;&nbsp;</th>
                <th>Actions&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for propietario in propietarios %}
            <tr>
                <td><a href="{{ path('propietario_show', { 'id': propietario.id }) }}">{{ propietario.id }}</a></td>
                <td>{{ propietario.nombre }}</td>
                <td>{{ propietario.email }}</td>
                <td>{{ propietario.apellido }}</td>
                <td>{{ propietario.anuncio }}</td>
                <td>{{ propietario.telefono }}</td>
                <td>{{ propietario.direccion }}</td>
                <td>{{ propietario.cP }}</td>
                <td>{{ propietario.animal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('propietario_show', { 'id': propietario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('propietario_edit', { 'id': propietario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propietario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
