{% extends 'base.html.twig' %}

{% block body %}
    <h1>Animales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Nacimiento</th>
                <th>Propietario</th>
                <th>Pedigri</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animale in animales %}
            <tr>
                <td><a href="{{ path('animales_show', { 'id': animale.id }) }}">{{ animale.id }}</a></td>
                <td>{{ animale.nombre }}</td>
                <td>{{ animale.tipo }}</td>
                <td>{{ animale.raza }}</td>
                <td>{{ animale.sexo }}</td>
                <td>{% if animale.nacimiento %}{{ animale.nacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ animale.propietario }}</td>
                <td>{% if animale.pedigri %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('animales_show', { 'id': animale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('animales_edit', { 'id': animale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('animales_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
